#dbTablesContainer {
  height: 80vh;
  overflow-y: scroll;
  .dbTable {
    padding: 1em;
    cursor: pointer;
  }
  .dbTable:hover {
    background-color: black;
    color: white;
  }
}
.dbBrowserTable {
  width: 100%;
}
i {
  cursor: pointer;
}
