cache.properties
vendor/
*.phar
_buildfiles/jstests/node_modules
_buildfiles/jstests/package-lock.json
_buildfiles/packages
_buildfiles/temp
_buildfiles/build
_buildfiles/bin/plain*.js
_buildfiles/bin/tsc*.js*
_buildfiles/buildproject
module_v4skin/admin/skins/kajona_v4/less/styles.min.css
module_v4skin/admin/skins/kajona_v4/less/styles.less
module_system/scripts/agp*.js
module_system/scripts/vendors.chunks.min.js
node_modules