.core-component-searchresult {
  .searchResultContainer {
    margin-top: 5px;
    text-align: left;
    background-color: @gray-light !important;
    padding: .5em;
    cursor: pointer;
  }

  .searchResultContainer:hover {
    background-color: @white !important;
  }
}

