
.core-component-listsearch {

    .core-component-listsearch-search {
        margin-bottom:8px;
    }

    .core-component-listsearch-result {
        overflow:hidden;
    }

    .core-component-listsearch-result-item {
        border-bottom:1px solid #eee;
    }

    .core-component-listsearch-result-item:nth-child(odd) {
        background-color:#f9f9f9;
    }

    .core-component-listsearch-result-item > a {
        display:block;
        text-decoration:none;
        padding:6px;
        color:@link-color;
        white-space: nowrap;
    }

    .core-component-listsearch-result-item > a:hover {
        background-color:@component-active-bg;
        color:@component-active-color;
    }
}
