
.core-component-listsearch {

    .core-component-listsearch-search {
        margin-bottom:8px;
    }

    .core-component-listsearch-result {
        overflow:hidden;
    }

    .core-component-listsearch-result-item {
        padding:4px 0;
        border-bottom:1px solid #eee;
    }

    .core-component-listsearch-result-item:nth-child(odd) {
        background-color:#f9f9f9;
    }

    .core-component-listsearch-result-item > a {
    }
}
